.convertor__container--area {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.convertor__box--area{
  display: flex;
  flex-direction: column;
}

.convertor__box--image{
  margin-bottom: 40px;
}

.convertor__box--title{
  font-size: 22px;
  display: block;
  margin-bottom: 20px;
}

.convertor__box--input{
  border: 0;
  border-radius: 3px;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
}